footer {
	margin-top: 50px;
    background-color: $light_grey;
    padding-top: 50px;
}

h4 {
	margin-bottom: 30px;
}

.list-group-item {
	background-color: $light_grey;
	border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}