.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background-color: #00000052;
	z-index: 1;
}
.nav-search-wrapper {
	width: 100%;

	.child {
		color: blue;
		
		.grandchild {
			color: red;
		}
	}
}
.collapse.navbar-collapse {
	clear: both;
}