@mixin full-width() {
	width: 100% !important;
	display: block;
}

@mixin default_btn($padding) {
	background-color: $btn_background;
	color: $white;
	border-radius: 5px;
	text-transform: uppercase;
	padding: $padding;
}