.navbar-brand {
	font-family: $font-family-special;
	color: $navbar-brand;
	font-size: 40pt;
}

li.nav-item.active a {
	color: $nav-link-active-color;
}

li.nav-item a {
	color: $nav-link-color;
	font-size: 15pt;
}

li.nav-item a:hover {
	color: $nav-link-active-color;
}

.dropdown-menu {
	background-color: #9c9c9c3b;
}
