

.img-text-wrapper {
	background-color: $light_grey;
	margin-bottom: 45px;

	.col-12 {
		padding: 0;
	}
}

.btn.btn-secondary.btn-lg {
	margin: 30px;
    padding: 20px;
    font-size: 20pt;
}

.btn-primary {
	border-color: $dark_grey;
}

h1 {
	padding: 25px;
}

h2 {
	padding: 20px;
	margin-top: 20px;
}

.main-headline {
	position: relative;
	margin-bottom: 50px;
}

.main-headline::before {
	content: "";
	position: absolute; /* fixed */
	width: 100%;
	height: 2px;
	background-color: #303030;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: -1;
}

.main-headline span{
	background-color: $white;
	padding: 3px 20px;
    border-radius: 15px;
}