// Kolorasss
$grey: #7f7e7e;
$white: #fff;
$black: #000000;
$dark_grey: #2b2b2b;
$light_grey: #e5e5e5;



$nav-link-color: $white;
$nav-link-active-color: $black;
$navbar-brand: $white;
$btn_background: $dark_grey;
$header_background: $light_grey;

// Fontaaas
$font-family-regular: 'Lato', sans-serif;
$font-family-special: 'Inconsolata', monospace;

