@import "_var";
@import "_mixins";
@import "_header";
@import "_nav";
@import "_section_img";
@import "_footer";

body {
	font-family: $font-family-regular;
	p {
		color: $grey;
	}
}
img {
	&.img-fluid {
		@include full-width;
	}
}

.button-theme {
	@include default_btn(5px 20px);
}

.no-padding {
	padding: 0 !important;
}
